
.pop-up-delete-order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
}

.popup-header {
    background-color: #B20F0F;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.popup-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

.popup-body {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}

.popup-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup-buttons {
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}

.popup-buttons .btn {
    width: 45%;
}

#close-popup {
    color: white;
}
